
.home {
    text-align: center;
    padding: 10px;
  }
  
  .home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgb(141, 13, 36);
  }
  .home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: brown;
  }
  .home h3{
    font-size: 2.5rem;
    color: #775454;
   
}
  .home p {
    font-size: 1.2em;
    color: rgb(243, 100, 124);
  }
  