
.project-showcase {
    text-align: center;
    padding: 10px;
  }
  
  .project-showcase h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: blueviolet;
  }
  
  .project-showcase p {
    font-size: 1.2em;
    color:brown;
  }
  .project-showcase li {
    font-size: 1.2em;
    color: blue;
  }
  
